{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<header class="subheader"> 
        <nav class="main-nav">
          <div class="left">
          <ul>
				<li><a href="{{url_for('showCars', brand_id=brand.id)}}"><p>{{brand.name}}</p></a></li>
            </ul>
              </div>
        </nav>
      </header>
	  <br/><br/>

	{% if cars !=[] %}	
  <div class="main-content">
		{% for car in cars %}
		<div class="tm-item-container">
				<img src="./2.jpg" alt="Image">
				<div class="tm-item-name-container">
				  <a class="name" href="{{url_for('showCar', brand_id=brand.id, car_id=car.id)}}"><span class="tm-item-name">{{car.name}}</span></a>
				  <span class="tm-item-price">{{car.price}}</span>
				  </a>
				</div>
			  </div>
		{% endfor %}
	</div>
	{% endif %}
	
{% endblock %}
