<!DOCTYPE html>
<html lang="en">
	<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Sign in Form with Social Login Buttons</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="929064126837-pn0aaaupsh9tbkj8e1ja6jo46v45mnrm.apps.googleusercontent.com">
      </head>
      <body>
			{% block content %}
			{% endblock %}
	</body>
</html>